{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

        {#    *************************************************************************************#}
        {#    *********************** HEADER ************************************************#}
        {#    *************************************************************************************#}

{% block PageTitle %} Recettes culinaires exceptionnelles {% endblock%}

        {#    *************************************************************************************#}
        {#    *********************** PRINCIPAL ************************************************#}
        {#    *************************************************************************************#}

{% block content %}
    <h2>Toutes les Recettes visibles sur notre site</h2>
    <div class="Les-recettes">

    {% for recipe in recipes %}
           {% if recipe.visible == 'true' %}

    <div class="recette">

        <div class="recette-texte">
            <h4>{{ recipe.titre }}</h4><br>
            <div class="image_recette">
                <img src="{{ asset('/uploads/img/recipe/')}}{{ recipe.photo }}  ">
            </div>
            <h5>Ingredients :</h5> {{ recipe.ingredients }}<br>
            <h5>Description :</h5>  {{ recipe.description }}<br>
            <h5>Etapes :</h5> {{ recipe.etapes }}<br>

{#            <div class="icones">#}
{#              <div>#}
{#                    <h5>Difficulte /cout :</h5>#}
{#                </div>#}
{#                <div class="icones-coutDiff">#}
{#                    {% foreach (cout in recipe.cout) %}#}
{#                    <img src="{{ asset('assets/img/dollar.png') }}" alt="difficulté fouet">#}
{#                    {% endfor %}#}
{#                    {% foreach (cout in recipe.cout) %}#}
{#                    <img src="{{ asset('assets/img/fouet.png') }}" alt="difficulté fouet">#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
            <div class="icones">
                <h5>Caractéristiques de la recette</h5><br>
                <h6>Pour {{ recipe.personnes }} personnes</h6><br>
                <h6>Durée de réalisation : {{ recipe.duree }} mn.</h6><br>
                <h6>Recette réalisée par :</h6>
            </div>


{#            <form class ="formulaire-like" method="post" action="">#}
{#                <input type="hidden" name="id_recipe_like" value="<?= $recipe->getId_recette(); ?>">#}
{#                <input type="hidden" name="recipe_like" value="<?= $recipe->getLikeRecette(); ?>">#}
{#                <input type="submit" name="like" value="💗">#}
{#                <h6><?= $recipe->getLikeRecette(); ?> J'aime</h6><br>#}
{#            </form>#}

        </div>

    </div>


            {% endif %}
   {% endfor %}
    </div>

{#{% endblock %}#}

{#{% block aside %}#}
{#    //La dernière recette ajoutée#}
 <!--******************* RECETTE LA PLUS LIKEE ****************-->
{#        <h3> Les recettes les plus Likées </h3>#}
{#        <div class="recettes-like">#}
{#            <?php for($i=0; $i<2; $i++){ ?>#}
{#            <div class = "recette-texte widget-recette">#}
{#                <h4><?= $RecipeBestLike[$i]['titre']; ?></h4>#}
{#                <h6><?= $RecipeBestLike[$i]['like_recette']; ?> J'aime</h6><br>#}
{#                <h5><?= substr($RecipeBestLike[$i]['description_recette'], 0, 200); ?>...#}
{#                    <div class="image_recette">#}
{#                        <img src="../img/photo_recettes/<?= $RecipeBestLike[$i]['photo']; ?>">#}
{#                    </div>#}
{#                    <a> Cliquez voir cette recette </a></h5>#}
{#            </div>#}
{#            <?php } ?>#}
{#        </div>#}

{#        <div class="trait-separation"></div>#}
{#        <!--*******************LA DERNIERE RECETTE IMPORTEE ****************-->#}
{#        <h3> Les Dernières recettes</h3>#}
{#        <div class="recettes-like">#}
{#            <?php for($i=0; $i<2; $i++){ ?>#}
{#            <div class = "recette-texte widget-recette">#}
{#                <h4><?= $LastRecipes[$i]['titre']; ?></h4>#}
{#                <h5><?= substr($LastRecipes[$i]['description_recette'], 0, 100); ?>...#}

{#                <div class="image_recette">#}
{#                    <img src="../img/photo_recettes/<?= $LastRecipes[$i]['photo']; ?>">#}
{#                </div>#}
{#                <a> Cliquez pour Afficher la recette</a></h5>#}
{#            </div>#}
{#            <?php } ?>#}
{#        </div>#}
{#        <div class="trait-separation"></div>#}

{#    </article>#}

{% endblock %}